<div id="notification" class="hidden">
	<p>
		Sorry for the inconvenience, my website is not yet available for mobile devices and screen sizes less than 865 pixels wide. Please view my site on a regular-sized computer screen.I'll be working on responsiveness soon!
	</p>
</br>
</br>
	<span> Derrick Mar </span>
</div>

<div id="jump61popup" class="popup" style="display: none;">
	<div class="popup-content-holder">
		<div class="title-and-pic">
			<%= image_tag('jump61.png', height: '45', width:'45', class: "left") %>
			<div class="projectTitleContent">
				<span class="project-title">Jump61</span>
			</div>
		</div>
		<div>
			<span class="headers-overlay"> Instructions </span>
			<p id="jump61-instructions">
				&emsp;&emsp;&emsp;&emsp;&emsp;There are two players in this game. You and the computer (blue). You move by clicking on a <strong>vacant square</strong> or <strong>the one you already own</strong>. If you click on a <strong>vacant square</strong>, you gain an <strong>ownership</strong> over it and square’s color changes to your playing color. Each time you click on a square, the value of the square increases by one.
				<br>
				&emsp;&emsp;&emsp;&emsp;&emsp;If the square's value reaches is <i> overfull </i>, which means it contains more spots than it has neighbors, its points are distributed amongst the square’s immediate neighbors. Thus, the four corner squares are overfull when they have more than two spots; other squares on the edge are overfull with more than three spots; and all others are overfull with more than four spots. If a neighboring square happens to be owned by the other player, it gets taken over together with all of its points and changes color to your playing color. <strong>The winner is the player who ends up owning all the squares on the board.</strong>
			</p>
			<span class="headers-overlay"> Getting started </span>
			<ul id="jump61-instructions">
				<li> Download the zip file by clicking the button to the bottom right </li>
				<li> Unzip the zip file and enter the directory "jump61project" <%= link_to "in a terminal", "https://www.google.com/search?q=how+to+open+a+terminal&rlz=1C5CHFA_enUS576US576&oq=how+to+open+a+terminal&aqs=chrome..69i57j0l5.3687j0j7&sourceid=chrome&es_sm=91&ie=UTF-8#q=how+do+I+open+a+terminal%3F", target: "_blank", class: "link-opp" %>.</li>
				<li> Type in the command "java jump61.Main --display"</li>
				<li> Note: To recompile the program type "make clean" and then "make"</li>
			</ul>
			<span class="headers-overlay"> Requirements </span>
			<ul id="jump61-instructions">
				<li> Your system must have Java SE Runtime Environment 7 installed </li>
			</uL>
		</div>
		<%= link_to "/jump61project.zip" do %>
			<span class="button-opp right"> Download and Play!</span>
		<% end %>
	</div>
</div>
<div class="full">
	<div class="happy">
		<div class="large-letter-m" id="m">
			<span class="large-letter-text" id="m-first-letter">M</span>
		</div>
		<div class="large-letter" id="a">
			<span class="large-letter-text-selected" id="a-first-letter">A</span>
		</div>
		<!-- squares start out right here. -->
		<div class="large-letter-hover" id="a-hover"></div>
		<div class="clicksquare"></div>

		<div class="large-letter" id="r">
			<span class="large-letter-text" id="r-first-letter">R</span>
		</div>
		<div id="slideright"> </div>
		<!-- <div class="large-letter-hover" id="r-hover"></div> -->
	</div>
	<div class="holder2">
		<div class="happy2">
			<div class="text text-m">
				<span id="m-text">y</span>
			</div>
			<div class="text-selected">
				<span id="a-text">bout</span>
			</div>
			<div class="clicksquareRight"></div>
			<div class="text">
				<span id="r-text">esume</span>
			</div>	
		</div>
		<div class="first-letter-holder">
			<div class="block"> </div>
			<div id="blockslide-first-letter"> </div>
			<span class="first-letter">D</span>
		</div>
	</div>
	<div class="masterholder3">
		<ul class="tabrow">
			<li class="selected">Skills</li>
			<li>Experience</li>
			<li>Activities</li>
			<li>Academics</li>
		</ul>
		<ul class="tabrow2">
			<li class="selected2">TaskSimply</li>
			<li>Jump61</li>
			<li>Gym Scribe</li>
		</ul>	
		<div class="holder3">
			<div id-"sprite1" class="sprites">
				<%= link_to( image_tag('fb.png', height: '30', width:'30', class: "icons"), "https://www.facebook.com/derricklmar", target:"_blank", title:"Facebook") %>
				<%= link_to( image_tag('mail.png', height: '30', width:'30', class: "icons"), "mailto:derrickmar1215@berkeley.edu", target:"_blank", title:"derrickmar1215@berkeley.edu") %>
				<%= link_to( image_tag('linkedin-white.png', height: '30', width:'30', class: "icons"), "http://www.linkedin.com/pub/derrick-mar/26/634/411", target:"_blank", title:"derrickmar1215@berkeley.edu") %>
			</div>
			<div id="sprites2" class="sprites">
				<%= link_to( image_tag('fb-white.png', height: '30', width:'30', class: "icons"), "https://www.facebook.com/derricklmar", target:"_blank", title:"Facebook") %>
				<%= link_to( image_tag('mail-white.png', height: '30', width:'30', class: "icons"), "mailto:derrickmar1215@berkeley.edu", target:"_blank", title:"derrickmar1215@berkeley.edu") %>
				<%= link_to( image_tag('linkedin.png', height: '30', width:'30', class: "icons"), "http://www.linkedin.com/pub/derrick-mar/26/634/411", target:"_blank", title:"derrickmar1215@berkeley.edu") %>
			</div>
			<div itemscope itemtype="http://data-vocabulary.org/Person" id="aboutDesc"> 
				<p id="about">
					<span itemprop="name">Derrick Mar</span> is a <span itemprop="title">3nd year undergraduate at UC Berkeley</span> double majoring in Business and Computer Science. He is interested in entrepreneurship as a means to invoke social change.
				</p>
			</div>
			<div id="projectsDesc" class="hidden"> 
				<%= render "projects" %>
			</div> 
			<div id="resumeDesc" class="hidden"> 
				<%= render "resume" %>
			</div> 

		</div>
		<div id="desc-block">
		</div>
		<div class="bottom-right-holder">
			<span class="name-bottom-right">ERRICK</span>
			<div id="bottom-right-block"></div>
		</div>
	</div>
</div>